*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 27px;
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

header{
    width: 90%;
    margin: 0 auto;
    padding: 25px;
}
.title{
    font-family: ;
    font-size:36px;
    font-weight:800;
}
header nav{
    display:flex;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:flex-end;
}
nav ul li a{
    text-decoration: none;
    padding:0 30px;
    font-family: ;
    font-size:24px;
    font-weight: 500;
    line-height:36px
}

/* main */
.main{
    margin: 100px 0;
}
.main p,.main h2{
    width: 30%;
    margin: 0 20%;
}
.main img{
    position: relative;
    right: 200px;
    border-radius: 12px;
}
.main .blue{
    font-family:;
    font-weight: 500;
    font-size: 18px;
    color: #2D9CDB;
}
.main h2{
    font-size: 48px;
    font-weight: 500;
    line-height:60px;
}
.main > p:last-of-type{
    font-weight: 400;
    font-size: 18px;
    color: #4f4f4f;
    padding: 20px 0;
}
.search{
    width: 40%;
    margin: 0 20%;
}
.search p{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
}
.search input{
    background-color: #f2f2f2;
    border-radius: 12px;
    padding:8px;
    border: none;
}
.search button{
    padding: 8px 15px;
    border-radius: 12px;
    background-color:#2D9CDB;
    font-weight: 500;
    font-size: 14px;
    color: #f2f2f2;
    border: none;
}

/* section */

.container{
    width: 80%;
    margin: 0 auto;
}
.sub-title{
    width: 300px;
    line-height:54px;
    font-weight: 500;
    font-size: 36px;
}
.cards{
    display: flex;
    justify-content:space-between;
}
.card{
    width: 341px;
    background-color: #ffffff;
    box-shadow: 0px 10px 30px rgba(51,51,51,0.1);
    border-radius: 24px;
    padding: 30px;
    margin-bottom:80px;
}
.card .card-icon{
    width: 67px;
    height:67px;
    background-color: #27ae60;
    margin: 30px 0;
}
.card-icon span{
    color: white;
    height: 100%;
    display:grid;
    place-items: center;
    
}
.card:first-child .card-icon{
    background-color: #2d9cdb;
}
.card:last-child .card-icon{
    background-color: #eb5757;
}
.card-title{
    font-weight: 700;
    font-size:24px;
    padding: 20px 0;
}
.card-detail{
    font-weight: 400;
    font-size: 16px;
    color: #4f4f4f;
    margin-bottom:20px
}
.card-button{
    width: 116px;
    height: 42px;
    background-color: #e0e0e0;
    border-radius: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color:#828282;
}
.card-button:active,.active{
    color: #ffffff;
    background-color: #2d9cdb;
}

/* design */
.design{
    margin-bottom: 80px;
    clear: right
}
.design-cards{
    display:grid;
    grid-template-rows:repeat(6,1fr);
    grid-template-columns:repeat(6,1fr);
    grid-gap: 30px;
}
.design-card{
    border-radius: 12px;
    grid-row:span 3;
    grid-column:span 3;
}
.design-card img{
    width: 100%;
    border-radius: 12px;
}
.design-card:nth-child(odd){
    margin-top: 100px;
}
.design-card p{
    font-weight:300;
    font-size: 14px;
    color: #828282;
}
.design-card h4{
    font-weight: 500;
    font-size: 24px;
}
.design-button{
    float: right;
    padding: 8px 10px;
    color: #2d9cdb;
    font-weight: 500;
    font-size: 24px;
}

/* team */
.team{
    margin-top: 200px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}
.team-img img:first-child{
    background-color: red;
    grid-column: span 1;
    grid-row: span 2;
}
.team-img img{
     grid-column: span 1;
     grid-row: span 1;
     width: 100%;
     margin: auto 0;
     border-radius: 12px;
}
.team aside{
    width: 30%;
    margin: 0 auto 0 0;
}

aside h4{
     font-weight: 500;
     font-size: 18px;
}
aside h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    padding: 10px 0;
}
aside p{
    font-size: 16px;
    color: #4f4f4f;
}